[run]
source = climakitae
omit = 
    */tests/*
    */__pycache__/*
    */.*
    setup.py

[report]
# Include all files under climakitae, even if not executed
include = climakitae/*

[html]
directory = htmlcov
