pip==24.2
boltons==24.0.0
#lmoments3==1.0.7
jsonpickle==3.3.0
llvmlite==0.43.0
bottleneck==1.4.0
boto3==1.35.7
tqdm==4.66.5
pydantic==2.9.1
pyarrow==17.0.0
xarray==2024.7.0
dask==2024.8.2
cartopy==0.23.0
dask-gateway==2024.1.0
geopandas==1.0.1
intake==2.0.7
intake-xarray==0.7.0
intake-esm==2023.11.10
jinja2==3.1.4
matplotlib==3.9.2
metpy==1.6.3
numpy==1.26.4
pandas==2.2.2
param==2.1.1
psutil==5.9.8
pyproj==3.6.1
pytest==8.3.3
rioxarray==0.17.0
s3fs==2024.9.0
scipy==1.14.1
shapely==2.0.6
#pygeos==0.13
statsmodels==0.14.2
numba==0.60.0
timezonefinder==6.5.2
dask-geopandas==0.4.1
xclim==0.52.0
