name: vd_md

on:
  push:
    paths:
      - 'climakitae/data/variable_descriptions.csv'

jobs:
  markdown:
    #if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project
      uses: actions/checkout@v4
    - name: Setup Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        pip install pandas==2.2.3 tabulate==0.9.0 numpy==2.2.6
        python vd_md.py 'climakitae/data/variable_descriptions.csv' '$GITHUB_WORKSPACE/${{github.repository}}.wiki/variable_descriptions.md'
